.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;

  .title {
    border-bottom: 1px solid #b5cae3;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
  }
}
